$secundary-color: rgb(23, 107, 135);

.footer-body{
    width: 100%;
    background-color: $secundary-color;
    border: 2px;
    border-color: red;
}

.footer-card{
        display: flex;
        width: 60%;
        flex-direction: row;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
        align-items: center;


    h5{
        padding: 30px;
        font-size: 1.1rem;
        letter-spacing: .5px;
        width: 40%;
    }

    .footer-link{
        margin-top: 1.5rem;
        a{
        list-style:none;
        color: black;
        border-radius: 5px;
        border: 1px solid black;
    
        padding: 5px;
        text-decoration: none;
        
        &:hover{
            background-color: rgba(95, 160, 157, 0.486);
            border-radius: 5px;
            color: white;
            padding: 5px;
            box-shadow: 1px 2px 2px rgba(17, 83, 80, 0.616);}
        }
    }
}
p{
    color: rgba(255, 255, 255, 0.774);
}