$secundary-color: rgb(23, 107, 135);


.contactos-container{
    display:flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
    background-color: $secundary-color;
    justify-content: center;
    text-align: center;

    .contactos-title{

        width: auto;
        color: rgb(238, 238, 238);
        padding: 1rem;
        margin-top: 5vh;
        margin-bottom: 4vh;
        
        h2{
            font-size: 3rem;
        }
    }

    .medioDeContacto-Container{
        display:flex;
        justify-content: center;
        color: rgb(238, 238, 238);
    }
}

.text-tittle{
    color:rgba(213, 216, 42, 0.856);
    letter-spacing: .5px;
}

.text-contact{

}