.nav-container{
    background-color: blue;
    
    a{
        color:black;
        list-style:none;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: .8px;
        
    }

    a:hover{
        font-weight: 600;

    }
}

.background-color{
    background-color: rgba(0, 255, 255, 0.664);
    color: white;
}
