$secundary-color: rgb(23, 107, 135);

.novedades-container{
    display: flex;
    flex-flow: row wrap;;
    max-width: 100%;
    height: auto;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $secundary-color;
}

.novedades-card{
    margin-bottom: 10px;
}
.novedad-title{
    display: flex;
    border-radius: 2px;
    width: 100%;
    justify-content: center;
    
    h1{
    letter-spacing: .5px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 3rem;
    }
}


.sect-planilla{
    display:flex;
    flex-wrap:wrap ;
    border: 2 px solid red;
    gap: 20px
}