//tipografia//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,200;1,500&display=swap');


:root{
    //tipografia//
    --font-monserrat: "monserrat", san-seriff;





//colores//
    --primary-color: rgb(5, 59, 80);
    $ColorSegundario: rgb(72, 14, 226);


    $colorTitulos: rgba(226, 14, 63, 0.849);
    $colorSubtitulos: rgb(72, 14, 226);
    $coloresFooter: rgb(178, 14, 226);


}
