//tipografia//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,200;1,500&display=swap');


:root{
    //tipografia//
    --font-monserrat: "monserrat", san-seriff;





//colores//
    $primary-color: #00eeffd5;
    $secundary-color: #338DFF;
    $contraste: #FF338D;

    //Tipografia//

    $titulos: #FF33F3;
    $subtitullos: #A533FF;
}
