//colores//
$colorPrincipal: rgb(44, 51, 51);


$colorTitulos: rgba(226, 14, 63, 0.849);
$colorSubtitulos: rgb(72, 14, 226);
$coloresFooter: rgb(178, 14, 226);

.app{
    background-color: $colorPrincipal;
    width: 100%;
    height: all;
}